audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: '\201C' '\201D' '\2018' '\2019'; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0; }

button, input {
  line-height: normal; }

button, html input[type='button'], input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: not-allowed; }

input[type='checkbox'], input[type='radio'] {
  padding: 0; }

input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, table, th, td, caption, hr {
  margin: 0;
  padding: 0; }

abbr[title], dfn[title] {
  cursor: help; }

input[type=button], input[type=submit], input[type='reset'], label, button, select, option {
  cursor: pointer; }

input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=search], input[type=number], textarea, textarea:active, textarea:focus {
  cursor: text; }

a, u, ins {
  text-decoration: none; }

img {
  font-style: italic; }

body {
  font-size: 16px;
  margin: 0 auto;
  max-width: 2362px;
  background-color: #fff;
  color: #333;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  overflow-x: hidden; }

img {
  max-width: 100%;
  display: block; }

a {
  color: #e44;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out; }
  a:hover {
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    border-bottom: 2px solid; }
  a:focus {
    outline: 0; }

p a {
  display: inline-block; }
  p a:hover {
    margin-bottom: -2px; }

.wrapper {
  max-width: 960px;
  margin: 0 auto; }
  .wrapper::after {
    content: '';
    display: table;
    clear: both; }

.dump, .bump, .search-results {
  cursor: pointer; }

html, body {
  height: 100%; }

.saatchi-music {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch; }

.col {
  height: 100%;
  flex-direction: column;
  flex: auto;
  overflow-y: auto; }

.playlist-container {
  width: 80%; }

.search-container {
  width: 20%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Roboto', helvetica, arial, sans-serif; }

.playlist__track:first-child .bump {
  visibility: hidden; }
.playlist__track:first-child .dump {
  visibility: visible; }

.playlist__track:nth-child(2) .bump {
  visibility: hidden; }

.dump {
  visibility: hidden; }

/*# sourceMappingURL=app.css.map */