.playlist__track:first-child {
    .bump {
        visibility: hidden;
    }
    .dump {
        visibility: visible;
    }
}

.playlist__track:nth-child(2) {
    .bump {
        visibility: hidden;
    }
}

.dump {
    visibility: hidden;
}